<div class="container box-shadow">
  <div class="image">
    <img [src]="data.imageUrl" alt="book" (error)="ImageError()" />
  </div>
  <div class="data-container">
    <p>
      <span class="const">Titulo: </span>
      <span class="title">{{ data.name }}</span>
    </p>
    <p>
      <span class="const">Autor: </span>
      <span class="author">{{ data.author }}</span>
    </p>
    <p>
      <span class="const">Editorial: </span>
      <span class="editorial">{{ data.editorial }}</span>
    </p>
    <p>
      <span class="const">ISBN: </span>
      <span class="isbn">{{ data.isbn }}</span>
    </p>
    <p>
      <span
        ><button mat-flat-button [routerLink]="'/book-detail/' + data.id">
          <mat-icon>info</mat-icon><span>Detalle</span>
        </button></span
      >
    </p>
  </div>
</div>
