<div class="container box-shadow">
  <div class="image">
    <img src="/images/4368449-1200-auto.png" alt="book" />
  </div>
  <div class="data-container">
    <p>
      <span class="const">Titulo:</span>
      <span class="title"
        >Harry Potter y la piedra filosofal ( Harry Potter 1 )</span
      >
    </p>
    <p>
      <span class="const">Autor:</span>
      <span class="author">J.K. Rowling</span>
    </p>
    <p>
      <span class="const">Editorial:</span>
      <span class="editorial">Salamandra Infantil y Juvenil</span>
    </p>
    <p>
      <span class="const">ISBN:</span>
      <span class="isbn">9786073844147</span>
    </p>
    <p>
      <span></span>
    </p>
  </div>
</div>
<div class="container box-shadow">
  <div class="image">
    <img src="/images/4368449-1200-auto.png" alt="book" />
  </div>
  <div class="data-container">
    <p>
      <span class="const">Titulo:</span>
      <span class="title"
        >Harry Potter y la piedra filosofal ( Harry Potter 1 )</span
      >
    </p>
    <p>
      <span class="const">Autor:</span>
      <span class="author">J.K. Rowling</span>
    </p>
    <p>
      <span class="const">Editorial:</span>
      <span class="editorial">Salamandra Infantil y Juvenil</span>
    </p>
    <p>
      <span class="const">ISBN:</span>
      <span class="isbn">9786073844147</span>
    </p>
    <p>
      <span></span>
    </p>
  </div>
</div>
<div class="container box-shadow">
  <div class="image">
    <img src="/images/4368449-1200-auto.png" alt="book" />
  </div>
  <div class="data-container">
    <p>
      <span class="const">Titulo:</span>
      <span class="title"
        >Harry Potter y la piedra filosofal ( Harry Potter 1 )</span
      >
    </p>
    <p>
      <span class="const">Autor:</span>
      <span class="author">J.K. Rowling</span>
    </p>
    <p>
      <span class="const">Editorial:</span>
      <span class="editorial">Salamandra Infantil y Juvenil</span>
    </p>
    <p>
      <span class="const">ISBN:</span>
      <span class="isbn">9786073844147</span>
    </p>
    <p>
      <span></span>
    </p>
  </div>
</div>
<div class="container box-shadow">
  <div class="image">
    <img src="/images/4368449-1200-auto.png" alt="book" />
  </div>
  <div class="data-container">
    <p>
      <span class="const">Titulo:</span>
      <span class="title"
        >Harry Potter y la piedra filosofal ( Harry Potter 1 )</span
      >
    </p>
    <p>
      <span class="const">Autor:</span>
      <span class="author">J.K. Rowling</span>
    </p>
    <p>
      <span class="const">Editorial:</span>
      <span class="editorial">Salamandra Infantil y Juvenil</span>
    </p>
    <p>
      <span class="const">ISBN:</span>
      <span class="isbn">9786073844147</span>
    </p>
    <p>
      <span></span>
    </p>
  </div>
</div>
<div class="container box-shadow">
  <div class="image">
    <img src="/images/4368449-1200-auto.png" alt="book" />
  </div>
  <div class="data-container">
    <p>
      <span class="const">Titulo:</span>
      <span class="title"
        >Harry Potter y la piedra filosofal ( Harry Potter 1 )</span
      >
    </p>
    <p>
      <span class="const">Autor:</span>
      <span class="author">J.K. Rowling</span>
    </p>
    <p>
      <span class="const">Editorial:</span>
      <span class="editorial">Salamandra Infantil y Juvenil</span>
    </p>
    <p>
      <span class="const">ISBN:</span>
      <span class="isbn">9786073844147</span>
    </p>
    <p>
      <span></span>
    </p>
  </div>
</div>
<div class="container box-shadow">
  <div class="image">
    <img src="/images/4368449-1200-auto.png" alt="book" />
  </div>
  <div class="data-container">
    <p>
      <span class="const">Titulo:</span>
      <span class="title"
        >Harry Potter y la piedra filosofal ( Harry Potter 1 )</span
      >
    </p>
    <p>
      <span class="const">Autor:</span>
      <span class="author">J.K. Rowling</span>
    </p>
    <p>
      <span class="const">Editorial:</span>
      <span class="editorial">Salamandra Infantil y Juvenil</span>
    </p>
    <p>
      <span class="const">ISBN:</span>
      <span class="isbn">9786073844147</span>
    </p>
    <p>
      <span></span>
    </p>
  </div>
</div>
