<div class="page-container">
  <app-simple-header></app-simple-header>
  <div class="content-container">
    <div class="card box-shadow">
      <div class="title-container">
        <img src="./images/user-icon.png" alt="User" />
        <span>INICIO DE SESIÓN</span>
      </div>
      <form [formGroup]="loginForm">
        <mat-form-field class="email" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          @if(loginForm.controls.email.hasError("required")){
          <mat-error> Email es requerido </mat-error>
          } @if(loginForm.controls.email.hasError("email")){
          <mat-error>Ingresa un email válido</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="password" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" />
          @if(loginForm.controls.password.hasError("required")){
          <mat-error> Contraseña es requerida </mat-error>
          } @if(loginForm.controls.password.hasError("minlength")){
          <mat-error>Contraseña debe tener al menos 8 caracteres</mat-error>
          }
        </mat-form-field>
        <button
          mat-flat-button
          (click)="login()"
          [disabled]="loginForm.invalid"
        >
          <mat-icon>person</mat-icon>
          INGRESAR
        </button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
