<footer>
  <div class="logo">
    <a href="https://www.facebook.com/" target="_blank">
      <img src="./svg/facebook.svg" alt="Facebook" />
    </a>
    <a href="https://x.com/?mx=2" target="_blank">
      <img src="./svg/twitterx.svg" alt="X" />
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <img src="./svg/instagram.svg" alt="Facebook" />
    </a>
    <a href="https://www.tiktok.com/" target="_blank">
      <img src="./svg/tiktok.svg" alt="Facebook" />
    </a>
    <a href="https://www.whatsapp.com/" target="_blank">
      <img src="./svg/whatsapp.svg" alt="Facebook" />
    </a>
    <a href="https://www.youtube.com/" target="_blank">
      <img src="./svg/youtube.svg" alt="Facebook" />
    </a>
  </div>
  <div class="text">
    <span>Biblioteca v1.1.0</span>
  </div>
</footer>
