<app-home-header></app-home-header>
<div class="container">
  <div class="container-book">
    <app-book-card [data]="bookData"></app-book-card>
    <app-book-card [data]="bookData"></app-book-card>
    <app-book-card [data]="bookData"></app-book-card>
    <app-book-card [data]="bookData"></app-book-card>
    <app-book-card [data]="bookData"></app-book-card>
    <app-book-card [data]="bookData"></app-book-card>
    <app-book-card [data]="bookData"></app-book-card>
    <app-book-card [data]="bookData"></app-book-card>
  </div>
</div>
<app-footer></app-footer>
