<div class="page-container">
  <app-home-header></app-home-header>
  <div class="container">
    <div class="prubaselect hidden"></div>
    <div class="container-book">
      <app-book-card *ngFor="let book of books" [data]="book"></app-book-card>
      <h3 *ngIf="books.length === 0">No se encontraron libros.</h3>
    </div>
    <mat-paginator
      *ngIf="books.length !== 0"
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [disabled]="disabled"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <app-footer></app-footer>
</div>
