.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & .container {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    & .container-book {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: flex-start;
      margin-left: 45px;
      & h3 {
        font-size: x-large;
      }
    }
  }
}
